# Ignore everything by default
*

# Keep root gitignore
!.gitignore

# Allow entering assignment folder
!assignment1-basics/

# Keep assignment-level gitignore if you want
!assignment1-basics/.gitignore

# Keep your notes
!assignment1-basics/readme1.md
!assignment1-basics/readme2.md

# Allow entering source folder
!assignment1-basics/cs336_basics/

# Keep your code
!assignment1-basics/cs336_basics/train_bpe.py
