# Ignore everything by default.
*

# Keep this ignore file.
!.gitignore

# Keep the student's notes.
!readme1.md

# Allow entering source directories needed for unignore rules.
!cs336_basics/

# Keep the student's implementation file.
!cs336_basics/train_bpe.py

